@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
    font-family: "Lulo";
    src: url("/assets/fonts/luloclean.otf") format("opentype"), url("/assets/fonts/luloclean.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "avenirlight";
    src: url("/assets/fonts/avenirlight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


:root{
    --shadow: rgba(0,0,0, 0.1);
    --background-color: rgb(29, 29, 29);
    --end-title: rgb(185, 184, 184);
    --movimento-top: cubic-bezier(0.23, 1, 0.320, 1);
}

* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    user-select: none;

}
 
/* Puta função pra esconder mas manter ativo o scroll-bar */
*::-webkit-scrollbar {
    display: none;
  }

body{
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    overflow: auto;
    text-decoration: none;
    list-style: none;
}

a{
    color: inherit;
}



                        /* Index.html */
/* Para Computadores */
@media screen and (max-width: 3000px){

    #mobile{
        display: none;
    }
    
    .current{
        color: grey;
    }
    
    .hide{
        display: none;
    }
    
    .exit__menu-button{
        position: absolute;
        top: 1%;
        right: 5%;
        font-size: 2.9rem;
        cursor: pointer;
    }
    
    .exit__menu-button:hover{
        opacity: .5;
    }
    
    .menu__container{
        background-color: rgba(255,255,255, 0.8);
        color: whitesmoke;
        position: fixed;
        max-height: 100vh;
        height: 100%;
        width: 100vw;
        z-index: 14;
    }
    
    .menu{
        position: absolute;
        background-color: var(--background-color);
        width: 100%;
        max-width: 30%;
        height: 100vh;
        z-index: 15;
        right: 0;
        animation: mymove .7s;
        animation-timing-function: var(--movimento-top);
    }
    
    #menu__inside{
        text-align: center;
        padding-top: 8%;
        margin-top: 30%;
    }
    
    .pg__icons-header{
        position: relative;
        margin-top: 50%;
        padding: 2.2%;
    }
    
    @keyframes mymove {
        from {left: 100%;}
        to {left: 70%;}
    }
    
    .nav-links{
        padding: 8px;
        letter-spacing: .2em;
        font-size: 1.4rem;
        font-weight: 800;
        font-family: 'Raleway', sans-serif;
    }
    
    .nav-links a:hover{
        color: grey;
    }
    
    .white__box{
        position: fixed;
        right: 20px;
        bottom: 20px;
        background-color: whitesmoke;
        border-radius: 10%;
        width: 3.8rem;
        height: 3.8rem;
        box-shadow: 0 0 5px rgba(0,0,0, 0.3);
        display: flex;
        align-items: center;
        z-index: 10;
        cursor: pointer;
    }
    
    .white__box:hover{
        opacity: .5;
    }
    
    #chat__icon{
        font-size: 2rem;
        margin: 0 auto;
        text-decoration: none;
        list-style: none;
        color: black;
    }
    
    
    .frete{
        letter-spacing: 0.3em;
        text-align: center;
        padding: .6% 0;
        font-size: .9rem;
        font-weight: 400;
        background-color: var(--background-color);
        color: grey;
    }
    
    .logo-menu{
        max-width: 4.3rem;
        width: 100%;
        opacity: 60%;
        cursor: pointer;
    }
    
    .logo-menu:hover{
        opacity: .9;
    }
    
    .hamburger{
        font-size: 2.8rem;
        cursor: pointer;
    }
    
    .hamburger:hover{
        opacity: .5;
    }
    
    .nav-bar{
        position: fixed;
        top: 0;
        z-index: 10;
        max-width: 100vw;
        width: 100%;
        height: auto;
        transition: top .7s;
    }
    
    .nav-bar__down{
        background-color: white;
        display: flex;
        align-items: center;
        padding: .4% 5%;
        justify-content: space-between;
        box-shadow: 0px 5px 10px var(--shadow);
    }
    
    .header{
        display: flex;
        justify-content: flex-end;
        background-color: white;
        height: 100%;
        max-height: 100vh;
        padding-top: 100px;
    }
    
    
    .img-fundo{
        background-size: cover;
        height: 100%;
        max-height: 600px;
    }
    
    
    .grid__container{
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        width: 100%;
        max-width: 100vw;
        margin-bottom: 50px;
    
    }
    
    .title{
        font-size: 24px;
        color: lightgray;
        letter-spacing: 0.3em;
        text-align: center;
        padding: 50px 0;
        font-weight: 400;
    }
    
    .items__block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px 0;
        gap: 20px;
    }
    
    .item{
        width: 27vw;
        height: 27vw;
        cursor: pointer;
    }
    
    
    #item-1{
        background-image: url("../img/1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
        
    }
    #item-1:hover{
        background-image: url("../img/1-b.jpg");
    }
    
    
    #item-2{
        background-image: url("../img/2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    
    }
    #item-2:hover{
        background-image: url("../img/2-b.png");
    }
    
    
    #item-3{
        background-image: url("../img/3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }
    #item-3:hover{
        background-image: url("../img/3-b.jpg");
    }
    
    
    #item-4{
        background-image: url("../img/4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }
    #item-4:hover{
        background-image: url("../img/4-b.jpg");
    }
    
    
    #item-5{
        background-image: url("../img/5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }
    #item-5:hover{
        background-image: url("../img/5-b.png");
    }
    
    
    #item-6{
        background-image: url("../img/6.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }
    #item-6:hover{
        background-image: url("../img/6-b.jpg");
    }
    
    
    #item-7{
        background-image: url("../img/7.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }
    #item-7:hover{
        background-image: url("../img/7-b.jpg");
    }
    
    
    #item-8{
        background-image: url("../img/8.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }
    #item-8:hover{
        background-image: url("../img/8-b.jpg");
    }
    
    
    #item-9{
        background-image: url("../img/9.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s ease-in-out;
    }
    #item-9:hover{
        background-image: url("../img/9-b.jpg");
    }
    
    .ig__container{
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        width: 100vw;
        max-width: 100%;
        padding-bottom: 100px;
    }
    
    
    .ig__block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px auto;
    }
    
    .ig__item{
        width: 25vw;
        height: 25vw;
        cursor: pointer;
        transition: transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .ig__item:hover{
        transform: translateY(-15px);
    }
    
    
    #ig-1{
        background-image: url("../img/2-b.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #ig-2{
        background-image: url("../img/1-b.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #ig-3{
        background-image: url("../img/4-b.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .footer{
        display: flex;
        background-color: var(--background-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        color: whitesmoke;
        justify-content: space-around;
        padding: 3rem 10rem;
        align-items: center;
    }
    
    .icon{
        font-size: 1.9rem;
        padding: 0 .5rem;
        cursor: pointer;
    }
    
    .icon:hover{
        color: grey;
    }
    
    .footer__links{
        letter-spacing: 0.2em;
        transform: scaleX(1.05);
    }
    
    .footer__link{
        font-size: 10px;
        cursor: pointer;
        line-height: 1.8;
    }
    
    .footer__link:hover{
        color: grey;
    }
    
    .footer img{
        height: 5.6rem;
        width: 5.6rem;
        cursor: pointer;
    }
    
    .footer img:hover{
        opacity: .7;
    }
    
    
    .end{
        text-transform: none;
        color: var(--end-title);
        background-color: rgb(41, 41, 41);
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        font-size: .7rem;
        padding: 20px 0;
    }

}

/* Para Tablet's */
@media screen and (max-width: 968px) { 

    .img-fundo{
        height: 450px;

    }

    .ig__item{
        width: 30vw;
        height: 30vh;
    }

    .footer{
        padding: 5rem 5rem;
    }

    .white__box{
        border-radius: 50%;
    }

    /* Nav-Bar Versão Mobile: ON */
    #mobile{
        display: flex;
    }

    /* Nav-Bar versão Desktop: OFF */
    #desktop{
        display: none;
    }
    
    .menu{
        max-width: 45%;
    }

    @keyframes mymove {
        from {left: 100%;}
        to {left: 55%;}
    }
}

/* Para celulares */
@media screen and (max-width: 480px){

    .header{
        padding-top: 80px;
    }
    
    .frete{
        padding: 1% 0;
        font-size: 1rem;
        letter-spacing: .25rem;
    }

    .menu{
        max-width: 70%;
    }

    @keyframes mymove {
        from {left: 100%;}
        to {left: 30%;}
    }

    .nav-links{
        font-size: 1.1rem;
        padding: 10px 6px;
    }

    .exit__menu-button{
        font-size: 2.3rem;
    }

    .pg__icons-header{
        margin-top: 70%;
    }

    .pg__icons-header .icon{
        font-size: 2.2rem;
    }

    .logo-menu{
        width: 60%;
    }

    .hamburger{
        font-size: 2.2rem;
    }

    .nav-bar__down{
        padding: 1% 5%;
    }

    .img-fundo{
        height: 260px;
    }


    /* NOVIDADES GRID */

    #novidades{
        display: flex;
        margin-left: 9%;
    }


    .novidades .title{
        font-size: 22px;
        padding-top: 40px;
        padding-bottom: 0;
    }

    .ig__container .title{
        padding: 30px;
    }

    .items__block{
        grid-template-columns: 1fr 1fr;
        gap: 3px;
    }

    .item{
        width: 45vw;
        height: 45vw;
    }

    #item-1, #item-2, #item-3, #item-4, #item-5,
    #item-6, #item-7, #item-8, #item-9{
        width: 45vw;
        height: 45vw;
    }

    #item-7, #item-8, #item-9, #ig-2, #ig-3{
        display: none;
    }

    /* Instagram Grid */

    .ig__block{
        display: inline-flex;
        margin: 0;
        padding: 0;
    }

    .ig__item{
        width: 100vw;
        height: 100vw;
        transition: none;
        translate: unset;
        margin: 0;
        padding: 0;
    }

    .ig__container{
        padding: 0;
    }

    /* footer */

    .footer{
        padding: 1rem 2rem;
    }

    .footer__links{
        display: none;
    }

    .pg__icons .icon{
        font-size: 2rem
    }

    .footer img{
        width: 4.4rem;
        height: 4.4rem;
    }

    /* End */

    .end{
        font-size: .5rem;
        padding: 10px 0;
    }

    .white__box{
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
    }

}


                        /* Loja.html */
/* Para computadores */
@media screen and (max-width: 3000px){

    #section__1{
        margin-bottom: 100px;
    }

    #ver__mais{
        margin-top: 100px;
        background-color: rgb(235, 235, 235);
        color: rgb(155, 155, 155);
        padding: 12px 22px;
        border-radius: 20px;
        font-weight: bolder;
        font-size: .9rem;
        transition: .2s;
        text-transform: none;
        font-family: "avenirlight", sans-serif;
    }

    #ver__mais:hover{
        opacity: 70%;
    }

    #loja{
        margin-top: 5rem;
    }

    #prod__description{
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        top: 100%;
        margin-top: 1.5rem;
        padding: 0;
        color: rgb(175, 175, 175);
        font-size: .55rem;
        font-family: 'Lulo', sans-serif;
        letter-spacing: .05rem;
        line-height: 1.1rem;
    }
    

    .big__title{
        display: flex;
        margin-left: 2rem;
        letter-spacing: .26rem;
        font-size: 4rem;
        font-family: 'Lulo', sans-serif;
        font-weight: 800;
        color: lightgrey;
        line-height: 1;
        margin-bottom: 2rem;
    }

    .item__loja{
        width: 23vw;
        height: 23vw;
        cursor: pointer;
    }

    .items__block-loja{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 10px 0;
        gap: 5rem 20px;
    }

    .items__block-mandalas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px 0;
        gap: 5rem 20px;
    }

    .item__mandala{
        width: 30vw;
        height: 30vw;
        cursor: pointer;
    }

}
